.row {
  display: flex;
  align-items: center;
  align-content: center
}

.spread {
  justify-content: space-between
}

.nav-buttons > * {
  margin: 5em 5em;
}

.center-text{
  text-align: center
}

Link {
  color: black;
}

button, .button {
  border-radius: 5px;
  color: rgb(22, 114, 150);
  text-decoration: bold
}
